.toastErrorIcon,
.toastSuccessIcon,
.toastInfoIcon {
    position: relative;
    left: -24px;
    font-size: 27px;
    width: 20px;
    height: 48px;
    text-align: center;
    line-height: 45px;
}

.toastErrorIcon {
    background: #e05b4f;
}
.toastSuccessIcon {
    background: #4caf50;
		.material-icons {
			font-size: 20px;
		}
}
.toastInfoIcon {
    background: #4990E2;
}
.toast-close-btn {
    font-size: 18px;
    float: right;
    position: absolute;
    right: 13px;
    top: 15px;
    color: #dadada;
}
.message-cont{
    position: relative;
    left: -10px;
}

md-toast.md-top {
    top: 50px;
}
