<md-card class="product-card" ng-click="editProduct(prod)" md-ink-ripple="{{card.color}}" style="background-position: center; background-color:{{card.color}};background-blend-mode: multiply; background-image: url({{card.photos[0].url}});">
  <div class="title" style="padding-top: 5px;color: #fff;font-weight: 500;padding-left: 12px;">{{card.name}}</div>
  <div class="reference" style="font-size: 12px;
    padding-top: 5px;
    color: #fff;
    mix-blend-mode: exclusion;
    font-weight: 500;padding-left: 12px;">{{card.reference}}</div>
</md-card>
