<div id="createProjectDialog">
    <div class="create-dialog-title">
        <span ng-if="!editing">Create new product</span>
        <span ng-if="editing">Edit product</span>
    </div>
    <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
        <md-tab label="Basic Infos">
            <md-content>
                <form ng-submit="formSubmmit()" name="editProduct.basicForm">
                    <md-input-container class="p-0 m-b-0">
                        <input id="name" ng-model="createProductScope.name" placeholder="Product name" required>
                        <div ng-messages="editProduct.basicForm.name.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="p-0 m-b-0">
                        <input id="reference" name="reference" ng-model="createProductScope.reference" placeholder="Product reference" required>
                        <div ng-messages="editProduct.basicForm.name.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <div id="color-picker" md-color-picker md-color-alpha-channel="false" label="Choose a color" skip-hide="true" ng-model="createProductScope.color"></div>

                </form>
            </md-content>
        </md-tab>
        <md-tab label="Vendor">
            <md-content>
                <form ng-submit="formSubmmit()" name="editProduct.vendor">
                    <md-input-container class="p-0 m-b-0">
                        <input id="vendorName" ng-model="createProductScope.vendorName" placeholder="Vendor name">
                    </md-input-container>
                    <md-input-container class="md-icon-float md-icon-right md-block p-0 m-b-0">
                        <input id="vendorPrice" ng-model="createProductScope.vendorPrice" type="number" step="0.5" placeholder="Vendor price">
                        <!-- <i class="material-icons">euro_symbol</i> -->
                    </md-input-container>
                </form>
            </md-content>
        </md-tab>
        <md-tab label="Retail">
            <md-content>
                <form ng-submit="formSubmmit()" name="editProduct.priceForm">
                    <md-input-container class="p-0 m-b-0">
                        <input id="haulPrice" ng-model="createProductScope.haulPrice" type="number" step="0.5" placeholder="Haul price" required>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-icon-right md-block p-0 m-b-0">
                        <input id="sellPrice" ng-model="createProductScope.sellPrice" type="number" step="0.5" placeholder="Sell price" required>
                        <!-- <i class="material-icons">euro_symbol</i> -->
                    </md-input-container>
                </form>
            </md-content>
        </md-tab>
        <md-tab label="Photo">
            <md-content>
                <form ng-submit="formSubmmit()" name="editProduct.photoForm">
                    <md-tabs id="photoTabs" md-dynamic-height md-align-tabs="bottom" md-selected="photoIndex" ng-show="createProductScope.photos.length">
                        <md-tab ng-repeat="photo in createProductScope.photos" label="{{photo.name}}">
                            <md-content>
                                <md-input-container style="width:18%; display: inline-block">
                                  <input id="photoName" ng-model="photo.name" placeholder="photo name" required>
                                </md-input-container>
                                <!-- <md-input-container style="width:18%; display: inline-block">
                                    <label>Photo type</label>
                                    <!-- <md-select ng-model="photo.type">
                                        <md-option ng-value="'upload'">
                                            Upload
                                        </md-option>
                                        <md-option ng-value="'link'">
                                            Link
                                        </md-option>
                                    </md-select> -->
                                </md-input-container>
                                <md-input-container class="md-icon-float md-icon-right md-block p-0 m-b-0 m-t-0" style="width:77%; display: inline-block" ng-hide="photo.type !== 'link'">
                                    <input id="photoUrl" ng-model="photo.url" placeholder="photo url" required>
                                </md-input-container>
                                <div class="card-picture backdrop" ng-show="photo.showDelete" ng-click="deletePhoto($index)" ng-mouseleave="hideDeletePhoto(photo)">
                                    <i class="material-icons remove" ng-clik="deletePhoto($index)">delete</i>
                                </div>
                                <!-- TODO img should open in canvas -->
                                <!-- <img id="drag-file" class="card-picture" ng-src="data:image/jpg;base64, {{photo.src}}" ng-init="loadImage(photo)" ng-mouseover="showDeletePhoto(photo)"> -->
                                <canvas drag-and-drop abc="asasa" object="photo" id="drag-file-{{photo.name}}" class="card-picture" ng-mouseover="showDeletePhoto(photo)" > </canvas>
                            </md-content>
                        </md-tab>
                        <md-tab ng-click="insertLinkImage()">
                            <md-tab-label><i class="material-icons">add_a_photo</i></md-tab-label>
                            <md-content>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                    <div drag-and-drop class="add-file" ng-show="!createProductScope.photos.length">
                        <!-- <input type="file" id="upload-file"> -->
                        <!-- <i class="material-icons" ng-click="insertLinkImage()">insert_link</i> -->
                        <i class="material-icons" ng-click="insertLinkImage()">add_a_photo</i>
                    </div>
                </form>
            </md-content>
        </md-tab>
    </md-tabs>
    <!-- // TODO must be dynamic -->
    <md-button class="md-primary fl-r" ng-click="formSubmmit()">
        <span ng-if="selectedIndex < forms.length-1">Next </span>
        <span ng-if="selectedIndex ==  forms.length-1 && !editing">Create </span>
        <span ng-if="selectedIndex ==  forms.length-1 && editing">Update </span>
    </md-button>
</div>
